.annotation {
	background: #D0D0D0;
}

.annotation-selected {
	color: #FF0000;
}

.annotation-button {
	width: 70px;
	height: 26px;
  position: absolute;
	margin-left: -48px;
	margin-top: -20px;
	background: transparent url(annotation-button.gif);
}

.annotation-button .clickable {
	width: 60px;
	height: 18px;
	margin-left: 5px;
	margin-top: 0px;
}
