
#annotation-form #edit-comment-wrapper {
  padding-right: 5px;
}
#annotation-form #edit-comment {
  width: 100%;
}
.bt-content #annotation-form,
#annotation-form .form-item,
#annotation-form #edit-submit {
  margin: 0;
}

.annotation-comment .info {
  color: #666;
  font-size: 0.8em;
}
.annotation-comment .info strong {
  color: #000;
  font-size: 1.25em;
}
